*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* HEADER */

header{
    background:#424e61;
    color:white;
    padding:20px 0;
}

.cabecalho-itens{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
}

.cabecalho-imagem{
    width:70px;
}

.titulo_site{
    font-size:32px;
}

.sociais{
    display:flex;
    gap:10px;
}

.sociais img{
    width:32px;
}

/* BANNER */

.banner1 img{
    width:100%;
    display:block;
}

/* ESTUDANTES */

.estudante{
    background:#760000;
    padding:50px 20px;
}

.estudante_titulo{
    text-align:center;
    color:white;
    margin-bottom:40px;
    font-size:32px;
}

.estudantes_todos{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:35px;
}

.estudante-div{
    width:180px;
    background:white;
    border-radius:12px;
    padding:20px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,.2);
}

.estudante-imagem{
    width:120px;
    margin-bottom:15px;
}

.estudante-div h3{
    margin-bottom:15px;
}

.estudante-icone{
    width:28px;
    margin:5px;
    cursor:pointer;
}

.div_video{
background:linear-gradient(#5e1ad3,#1704e5);
    color:white;
    text-align:center;
    .youtube{
    display:flex;
    justify-content:center;
}


}




/* RODAPÉ */

.escola{
    background:linear-gradient(#d31a1a,#d33131);
    color:white;
    text-align:center;
    padding:30px;
}

.logo_rodape{
    width:90px;
    margin-bottom:15px;
}

.link{
    color:white;
    text-decoration:none;
}

.link:hover{
    text-decoration:underline;
}